<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="userLogin()">
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userLoginData.Username"
                    placeholder="Username"
                    type="text"
                    name="Username"
                    required
                >
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    [(ngModel)]="userLoginData.Password"
                    placeholder="Password"
                    type="password"
                    name="Password"
                    required
                >
            </mat-form-field>
            <mat-card-actions>
                <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                >
                    Login
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>